<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<view title="event.bname">
  <content has-header="true" has-tabs="true">
    
    
    <div id="titleContainer">
        <!-- IMAGE WILL BE REPLACED WITH ITEM IMAGE (IN MYSQL SERVER) -->
        <img src="http://localhost/upload/{{event.image_name}}" height="200px" width="100%">
            
            <itemnameDetail>{{event.event_name}}</itemnameDetail><br>
            <subDetail>{{event.bname}}</subDetail><br>
            <div id="priceContainer">
            <priceee>{{event.event_price}}</priceee>
            </div>
    </div>
    
    <div id="desContainer" class="desContainer-shadow">
        <desTitle>Date of Event</desTitle><br>
        <div id="desBorder"></div>
        <describ>{{event.event_day}} / {{event.event_month}} / {{event.event_year}}</describ>
        
    </div>
    
    <div id="break"></div>
    
    <div id="desContainer" class="desContainer-shadow">
        <desTitle>Venue</desTitle><br>
        <div id="desBorder"></div>
        <describ>{{event.event_venue}}</describ>
        
    </div>
    
    <div id="break"></div>
    
    <div id="desContainer" class="desContainer-shadow">
        <desTitle>About This Event</desTitle><br>
        <div id="desBorder"></div>
        <describ>{{event.event_info}}</describ>
        
    </div>
    
    <div id="break"></div>
    
    <div id="desContainer" class="desContainer-shadow">
    <div class="item item-button-right">
        Contact Number
        <button class="button button-outline button-positive">
            <!-- MY NUMBER WILL BE REPLACED WITH EVENT NUMBER (IN MYSQL SERVER) -->
            <a href="tel:{{event.event_contact}}"><i class="icon ion-ios7-telephone"></i></a>
        </button>
    </div>
    </div>
    
    <div id="break"></div>
   
    <div id="desContainer" class="desContainer-shadow">
    <!-- WILL BE REPLACED WITH EVENT PAYMENT BOOKING SITE (IN MYSQL SERVER) -->
    <a href="{{event.event_online}}">
    <button class="button button-block button-balanced">
        Book Online
    </button></a>
    </div>
    
    
  </content>
</view>
